<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparando <%= municipio %> e <%= municipioadicional %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <a href=<%= voltar %>>Voltar à pagina anterior</a>
    <h1><%= municipio %></h1>
    <p>Código do IGBE: <em><%= codigo %></em></p>
    <p>Tipo de Bacia: <em><%= bacia %></em></p>
    <h2><%= municipioadicional %></h2>
    <p>Código do IGBE: <em><%= codigoadicional %></em></p>
    <p>Tipo de Bacia: <em><%= baciaadicional %></em></p>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ano</th>
                <th><%= municipio %><br>Área (ha)</th>
                <th><%= municipio %><br>Alteração da Área (Valor Absoluto, em ha)</th>
                <th><%= municipio %><br>Alteração da Área (Valor Relativo, em %)</th>
                <th><%= municipioadicional %><br>Área (ha)</th>
                <th><%= municipioadicional %><br>Alteração da Área (Valor Absoluto, em ha)</th>
                <th><%= municipioadicional %><br>Alteração da Área (Valor Relativo, em %)</th>
            </tr>
        </thead>
        <tbody>
            <% dadostabela.forEach(dado => { %>
                <tr>
                    <td><%= dado["NOME"] %></td>
                    <td><%= dado["ANO"] %></td>
                    <td name="area"><%= dado["AREA (HA)"] %></td>
                    <td class="comparacao"><%= dado["ABSOLUTO"] %></td>
                    <td class="comparacao"><%= dado["RELATIVO"] %></td>
                    <td name="area"><%= dado["AREA (HA) ADICIONAL"] %></td>
                    <td class="comparacao"><%= dado["ABSOLUTOADICIONAL"] %></td>
                    <td class="comparacao"><%= dado["RELATIVOADICIONAL"] %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <script src="/script.js"></script>
</body>
</html>
