<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados de Todos os Municípios</title>
    <script src="/normalizarTexto.js" defer></script>
    <script src="/formatarDadosDaTabela.js" defer></script>
    <script src="/filtrarTabela.js" defer></script>
    <script src="/botaoDeAjuda.js" defer></script>
    <script src="/botaoTopo.js" defer></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body id="top">
    <div class="container">
        <a href="/">Voltar à pagina anterior</a>
        <br>
        <h1>Dados de Todos os Municípios</h1>
        <br>
        <div style="width: 80%; margin: auto;">
            <canvas id="grafico"></canvas>
        </div>
        <br>
        <select id="dropdownMenu" onchange="mudarPlaceholder()">
            <option value="municipio" selected>Município</option>
            <option value="codigo">Código do IBGE</option>
            <option value="nome">Nome</option>
            <option value="bacia">Bacia</option>
        </select>
        <input type="text" id="searchInput" placeholder="Pesquisar por Município..." onkeyup="filtrarTabela()">
        <button onclick="filtrarTabela()">Todos os Anos</button>
        <button onclick="filtrarTabela(filtroAno = '2000')">2000</button>
        <button onclick="filtrarTabela(filtroAno = '2010')">2010</button>
        <button onclick="filtrarTabela(filtroAno = '2022')">2022</button>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Município</th>
                    <th>Código do IBGE</th>
                    <th>Ano</th>
                    <th>Área (ha)</th>
                    <th>Nome</th>
                    <th>Bacia</th>
                </tr>
            </thead>
            <tbody id="data-table">
                <% dados.forEach(dado => { %>
                    <tr>
                        <td><%= dado["MUNICIPIO"] %></td>
                        <td><%= dado["CODIGO"] %></td>
                        <td><%= dado["ANO"] %></td>
                        <td name="area"><%= dado["AREA (HA)"] %></td>
                        <td><%= dado["NOME"] %></td>
                        <td><%= dado["BACIA"] %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <br>

        <button id="help-button" class="help-button">?</button>
        <div id="balloon" class="balloon">
            <div id="balloon-close" class="balloon-close">x</div>
            <p>Deseja filtrar os dados da tabela? Escolha o seu parâmetro (município, código do IBGE, nome ou bacia) e comece a digitar. A tabela retornará os dados filtrados imediatamente!<br><br>Use os botões com os valores dos anos para filtrar os dados da tabela também por ano.</p>
        </div>

        <a href="#top" class="back-to-top">
            <img src="/topo.png" alt="Volte ao Topo da Página" />
        </a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script>
        const dadosGrafico = <%- JSON.stringify(dadosGrafico) %>;

        const rotulos = [...new Set(dadosGrafico.map(item => item.NOME))];
        const anos = [...new Set(dadosGrafico.map(item => item.ANO))];

        const datasets = anos.map((ano, index) => {
            const dadosAnuais = rotulos.map(rotulo => {
                const resultado = dadosGrafico.find(item => item.NOME === rotulo && item.ANO === ano);
                return resultado ? resultado["SOMA AREA"] : 0;
            });

            return {
                label: `Ano ${ano}`,
                data: dadosAnuais,
                backgroundColor: `rgba(${50 + index * 100}, ${100 + index * 50}, 200, 0.8)`,
                borderColor: `rgba(${50 + index * 100}, ${100 + index * 50}, 200, 1)`,
                borderWidth: 2,
                barThickness: 18,
                maxBarThickness: 20
            };
        });

        const ctx = document.getElementById('grafico').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: rotulos,
                datasets: datasets
            },
            plugins: [ChartDataLabels],
            options: {
                indexAxis: 'y',
                responsive: true,
                aspectRatio: 0.7,
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'right',
                        color: '#000',
                        formatter: (value) => value.toFixed(2).replace('.', ',')
                    },
                    title: {
                        display: true,
                        text: 'Soma das Áreas por Nome e Separadas por Ano',
                        font: {
                            size: 24,
                            weight: 'bold'
                        },
                        color: '#333',
                        padding: {
                            top: 10,
                            bottom: 10
                        }
                    },
                    legend: {
                        display: true,
                        position: 'top'
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                const year = datasets[tooltipItem.datasetIndex].label.split(' ')[1];
                                const value = tooltipItem.raw;
                                return `Ano: ${year}, Área (ha): ${value}`;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        stacked: false,
                        title: {
                            display: true,
                            text: 'Soma das Áreas (ha)'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Nome'
                        },
                        categoryPercentage: 0.9,
                        barPercentage: 0.8
                    }
                }
            }
        });
    </script>
</body>
</html>
